@using Web.Models
@model dynamic

@{
    Layout = "~/Views/_Layout.cshtml";
}


<div class="table-responsive w-100">
    <table class="table table-responsive" style="overflow: scroll; !important;">
        <thead>
        <tr>
            <th class="col">#</th>
            <th class="col">Логин</th>
            <th class="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        @foreach (UserViewModel user in ViewBag.Users)
        {
            <tr>
                <th class="align-items-center" scope="row">@user.ID</th>
                <td class="align-items-center">@user.Login</td>
                <td>
                    @Html.ActionLink("Удалить", "Delete", "Users", new {id = @user.ID}, new {@class = "btn btn-danger"})
                </td>
            </tr>
        }
        </tbody>
    </table>
    @Html.ActionLink("Добавить пользователя", "Add", "Users", null, new {@class = "btn btn-primary"})
</div>